@using SuperBlogData.Extentions;
@model SuperBlogData.Models.ViewModels.UserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Мой профиль";
}
<div class="card mx-auto" style="width: 80%;">
    <div class="top-right btn-group">
        <a asp-action="Update" asp-controller="User" asp-route-id="@Model.User.Id" class="btn btn-outline-warning">Редактировать</a>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-user-confirm">Удалить</button>
        <div class="modal fade" id="delete-user-confirm" tabindex="-1" aria-labelledby="modal-delete-user-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal-delete-user-title">Удаление профиля</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        Вы действительно хотите удалить свой профиль?<br />
                        Отменить это действие будет невозможно.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                        <form method="post" asp-action="Delete" asp-controller="User" asp-route-id="@Model.User.Id">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.User.GetFullName()</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Количество статей: @Model.Posts.Count</h6>
        <div class="d-flex justify-content-start flex-wrap mb-1">
            @foreach (var role in Model.Roles)
            {
                <span class="badge rounded-pill bg-primary mx-1 mb-1">@role.DisplayName</span>
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.User.About))
        {
            <p class="card-text">@Model.User.About</p>
        }
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Дата рождения: @Model.User.BirthDate.ToShortDateString()</li>
        <li class="list-group-item">Email: @Model.User.Email</li>
    </ul>
</div>
<h4 class="my-3" style="margin-left: 10%;">Статьи пользователя:</h4>
<div class="d-flex justify-content-center flex-wrap">
    @foreach (var post in Model.Posts)
    {
        <div class="card mx-3" style="width: 26rem;">
            <div class="card-body">
                <div class="row mb-2">
                    <h5 class="card-title col-9">
                        <a asp-area="" asp-action="Post" asp-controller="Post" asp-route-id="@post.Id" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            @post.Title
                        </a>
                    </h5>
                    <div class="btn-group top-right" role="group">
                        <a class="btn btn-outline-warning btn-sm" asp-action="Update" asp-controller="Post" asp-route-id="@post.Id">Ред.</a>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete-confirm-@post.Id">Удалить</button>
                        <div class="modal fade" id="delete-confirm-@post.Id" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="modal-title">Удаление статьи</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        Вы действительно хотите удалить статью @(post.Title)?<br />
                                        Отменить это действие будет невозможно.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                        <form method="post" asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id">
                                            <button type="submit" class="btn btn-danger">Удалить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start flex-wrap mb-1">
                    @foreach (var tag in post.Tags)
                    {
                        <span class="badge rounded-pill bg-primary mx-1 mb-1">@tag.Name</span>
                    }
                </div>
                <p class="card-text">@(post.Content.Substring(0, Math.Min(50, post.Content.Length)) + "...")</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div>
                    <p class="my-0"><a asp-action="User" asp-controller="User" asp-route-id="@post.UserId" class="card-link form-text">@post.User.LastName @post.User.FirstName</a></p>
                    <p class="my-0"><a asp-action="User" asp-controller="User" asp-route-id="@post.UserId" class="card-link form-text">@post.User.Email</a></p>
                </div>
                <div>
                    @if (post.IsRedated)
                    {
                        <p class="form-text my-0 text-center">@post.RedactionTime.Value.ToShortDateString()</p>
                        <p class="form-text my-0 text-center">@post.RedactionTime.Value.ToShortTimeString() (ред.)</p>
                    }
                    else
                    {
                        <p class="form-text my-0 text-center">@post.CreationTime.ToShortDateString()</p>
                        <p class="form-text my-0 text-center">@post.CreationTime.ToShortTimeString()</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
